VITE_TMDB_KEY=70f25646180f9989fd388b57957b4f68
VITE_FIREBASE_API_KEY=AIzaSyDHCEJmCgkjACZRmNGcVDoX0vABbP8ozQ8
VITE_FIREBASE_AUTH_DOMAIN=cineverse-e2237.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cineverse-e2237
VITE_FIREBASE_STORAGE_BUCKET=cineverse-e2237.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=990454049794
VITE_FIREBASE_APP_ID=1:990454049794:web:0ebc23a8a0b3d9a72f0b1b
66j
 